body {
    margin: 0;
    background-color : #F7F4F0;
    overflow-y: hidden;
}

* {
    font-family: 'Montserrat', sans-serif;
}

@keyframes title-appearance {
    from { opacity: 0; }
    to { opacity: 1; }
}
header {
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-weight: 600;
    letter-spacing: 1.57143px;
    font-size: 36px;
    line-height: 44px;
    margin: 0;
    animation: title-appearance ease-in 1.5s;
}
h2 {
    font-weight: normal;
    font-size: 11px;
    text-transform: uppercase;
    line-height: 13px;
    margin: 0;
    animation: title-appearance ease-in 2s;
}

main {
    display: flex;
    justify-content: center;
}
#board {
    position: relative;
}
.card {
    width: 267px;
    height: 354px;
    box-sizing: border-box;
    box-shadow: 0px 6px 15px rgba(36, 36, 40, 0.08), 0px 1px 3px rgba(36, 36, 40, 0.2);
    border-radius: 12px;
    position : absolute;
    background-color: #FFFFFF;
    transition: box-shadow 0.5s, top 1s, opacity 1.5s;
    top : 100vh;
    opacity: 0;
}

.card:hover {
    cursor: pointer;
    box-shadow: 0px 32px 11px rgba(36, 36, 40, 0.08), 0px 32px 59px rgba(36, 36, 40, 0.2);
    z-index: 300 !important;
}